<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::header">
</head>

<body class="logged-in">
    <header>
        <nav th:replace="fragments/fragments::navigation">
        </nav>
    </header>
    <main>
        <section class="py-5 container">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well-block">
                            <div class="well-title">
                                <h2>Questions? Book an Appointment</h2>
                                <!-- <h4>Questions? Book an Appointment</h4> -->
                            </div>
                            <form th:object="${appointmentBindingModel}" th:action="@{/appointments/book/{id}(id = ${mdId})}" method="POST">
                                <!-- Form start -->
                                <div class="row">
                                    <small th:if="${noVacancy}"
                                           class="text-light form-text bg-danger rounded">There is no vacancy for this selected time and date, please try another</small>
                                    <small th:if="${confirmedAppointment}"
                                           class="text-light form-text bg-danger rounded">You already have a confirmed appointment with this Doctor for the selected date</small>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="reason">Reason for appointment</label>
                                            <input th:field="*{reason}" th:errorclass="is-invalid" id="reason" name="reason" type="text"
                                                   placeholder="Reason" class="form-control input-md" required>
                                            <small id="reasonError" th:each="e : ${#fields.errors('reason')}" th:text="${e}"
                                                   class="invalid invalid-feedback text-light form-text bg-danger rounded"></small>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Email</label>
                                            <input th:value="${userEmail}" id="email" name="email" type="email" class="form-control input-md" readonly>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="date">Preferred Date</label>
                                            <input th:field="*{date}" th:errorclass="is-invalid" id="date" name="date" type="date"
                                                   placeholder="Preferred Date" class="form-control input-md" required>
                                            <small id="dateError" th:each="e : ${#fields.errors('date')}" th:text="${e}"
                                                   class="invalid invalid-feedback text-light form-text bg-danger rounded"></small>
                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="time">Preferred Time</label>
                                            <select th:field="*{timeSpan}" th:errorclass="is-invalid" id="time" name="time" class="form-control" required>
                                                <option value=""></option>
                                                <option value="8:00 to 9:00">8:00 to 9:00</option>
                                                <option value="9:00 to 10:00">9:00 to 10:00</option>
                                                <option value="10:00 to 11:00">10:00 to 11:00</option>
                                                <option value="11:00 to 12:00">11:00 to 12:00</option>
                                                <option value="13:00 to 14:00">13:00 to 14:00</option>
                                                <option value="14:00 to 15:00">14:00 to 15:00</option>
                                            </select>
                                            <small id="timeSpanError" th:each="e : ${#fields.errors('timeSpan')}" th:text="${e}"
                                                   class="invalid invalid-feedback text-light form-text bg-danger rounded"></small>
                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="md">Appointment With</label>
                                            <input th:value="${mdFullName}" id="md" name="md" type="text" class="form-control input-md" readonly>
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <br>
                                            <button class="btn btn-primary" type="submit">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- form end -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well-block">
                            <div class="well-title">
                                <h2>Why make an appointment with us</h2>
                            </div>
                            <div class="feature-block">
                                <div class="feature feature-blurb-text">
                                    <h4 class="feature-title">24/7 Support & Service</h4>
                                    <div class="feature-content">
                                        <p>We are openly engaging our community and this website is designed to function
                                            as a communication portal between our medical staff and patients</p>
                                    </div>
                                </div>
                                <div class="feature feature-blurb-text">
                                    <h4 class="feature-title">Experienced Staff Available</h4>
                                    <div class="feature-content">
                                        <p>All of our staff at Royal Informary St. Sofia strive to deliver the highest
                                            quality of patient care, living up to our core values- compassion, integrity
                                            and excellence.</p>
                                    </div>
                                </div>
                                <div class="feature feature-blurb-text">
                                    <h4 class="feature-title">Low Price & Fees</h4>
                                    <div class="feature-content">
                                        <p>One of the most affordable prices in the health sector, delivering high-tech
                                            and high-quality health service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    <footer th:replace="fragments/fragments::footer">
    </footer>
</body>

</html>